@charset "uft-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #edf7f6;
    color: #000000;
}

.general {
    width: 90%;
    max-width: 1300px;
    margin: 15px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
}

.general > div,
.general .cabecera,
.general .contenido,
.general .sidebar,
.general .footer {
    background: #fff;
    padding: 25px;
    border-radius: 5px;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    text-decoration: none;
    box-shadow: 7px 13px 27px #000;
}

header a{
    text-decoration: none;
    color: #fff;
}

.logo {
    font-size: 45px;
}

.encabezado {
    font-family: 'Balsamiq Sans';
    font-size: 20px;
    padding-left: 5%;
}

.general .cabecera {
    background: #a4031f;
    color: #fff;
    font-family: 'Alfa Slab One';
    font-style: initial;
    font-size: xx-large;
    grid-column-start: 1;
    grid-column-end: 4;
}

.general .contenido {
    background: #EAEAEA;
    grid-column: span 3;
    font-family: 'Questrial';
    color: #fff;
    padding: 1%;
    width: 100%;
    box-shadow: 0 18px 16px -6px black;
}

.tituloPanel {
    font-size: xx-large;
}

/* Aquí empieza el diseño del formulario */

.formulario-login {
    width: 400px;
    background: #edf7f6;
    padding: 30px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 4px;
    box-shadow: 7px 13px 57px #000;
}

/*#24303c gris oxford*/

.campos  {
    width: 100%;
    background: #edf7f6;
    padding: 3px;
    border-radius: 3px;
    margin-bottom: 16px;
    border: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #3c5063;
    font-size: 18px;
    color: #000;
}

.campos:hover {
    border-bottom: 3px solid #a4031f;
    transition-duration: 1s;
    outline: none;
}

.campos:focus {
    border-bottom: 3px solid #a4031f;
    transition-duration: 1s;
    outline: none;
}

.sexo {
    color: rgb(107, 105, 105);
}

.terminos {
    font-size: 12px;
    text-align: center;
    color: #000;
}

.cuenta {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    color: #000;
}

.formulario-login a {
    text-decoration: none;
    color: #000;
}

.formulario-login a:hover {
    text-decoration: underline;
    color: #000;
}

/*azul marino feo #1850c7*/

.formulario-login .boton {
    width: 100%;
    background: #a4031f;
    border: none;
    padding: 12px;
    color: #fff;
    margin: 16px 0;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

.formulario-login .boton:hover {
    background: #c71936;
    transition-duration: 0.25s;
}



/*Aquí termina el diseño del formulario*/


/*

.general .widget-1 {
    background: #55a8fd;
    color: #000000;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.general .widget-2 {
    background: #55a8fd;
    color: #000000;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}*/

.general .footer {
    display: flex;
    background: #0f0e0e;
    color: #fff;
    grid-column: span 3;
    font-family: 'Quicksand';
    justify-content: center;
    align-items: center;
    box-shadow:         3px 3px 5px 6px gray;
}

.footer a{
    text-decoration: none;
    color: #fff;
}

.footer a:hover {
    text-decoration: underline;
    color: #fff;
}

/*Diseño responsivo (para dispositivos móviles)*/

@media screen and (max-width: 768px) {

    .general .contenido {
        grid-column: 1 / -1;
    }

    .general .sidebar {
        grid-column: 1 / -1;
    }

    .general .widget-1 {
        grid-column: span 2;
    }
}